test/
examples/wikiqa/weights/
examples/toy_example/weights/
examples/bioasq/weights/
*.txt
oov.p
.github/
*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
*.coverage
predict.*
build/
dist/
log/*
matchzoo/log/*
matchzoo/querydecision/
log/*
.idea/
.pytest_cache/
MatchZoo.egg-info/
