{
  "net_name": "DRMM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/bioasq/weights/drmm.bioasq.weights",
      "save_weights_iters": 10,
      "num_iters": 2000,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adagrad",
      "learning_rate": 0.07
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/bioasq/corpus_preprocessed.txt",
        "text2_corpus": "./data/bioasq/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 200,
        "embed_path": "./data/bioasq/embed.idf",
        "vocab_size": 205878,
        "train_embed": false,
        "target_mode": "ranking",
        "hist_size": 60,
        "text1_maxlen": 10,
        "text2_maxlen": 40
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 128,
        "relation_file": "./data/bioasq/relation_train.txt",
        "hist_feats_file": "./data/bioasq/relation_train.hist-60.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/bioasq/relation_valid.txt",
        "hist_feats_file": "./data/bioasq/relation_valid.hist-60.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/bioasq/relation_test.txt",
        "hist_feats_file": "./data/bioasq/relation_test.hist-60.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/bioasq/relation_test.txt",
        "hist_feats_file": "./data/bioasq/relation_test.hist-60.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.drmm.bioasq.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [20, 1],
	    "dropout_rate": 0.0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@10", "map", "precision@10" ]
}

